.b{
    background-color: hsl(246, 80%, 60%);
}
.lrw{
    background-color: hsl(15, 100%, 70%);
}
.sb{
    background-color: hsl(195, 74%, 62%);
}


.lrs{
        background-color: hsl(348, 100%, 68%);
}
.lg {
        background-color: hsl(145, 58%, 55%);
}
.v {
        background-color: hsl(264, 64%, 52%);
}
.so {
        background-color: hsl(43, 84%, 65%);
}
.vdb {
        background-color: hsl(226, 43%, 10%);
}
.db {
    background-color: rgb(28, 31, 74);
}
.dsb {
    background-color: hsl(235, 45%, 61%);
}
.pb{
    background-color: hsl(236, 100%, 87%);
}